@media (min-width: 500px) {
  /* any other css rules can go in here as normal, for example: */
  /* body {
    background: black;
  } */
 }

 body {
 	background: #d59bf6;
 }

 div {
 	background: #9896f1;
 }
